* {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  box-sizing: border-box;
}

#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#timer {
  font-size: 70px;
}

#containerTimes {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 200px;
  max-height: 100vh;
  overflow-y: auto;
}



#times {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  max-height: 100%;
  overflow-y: auto;
  width: 40vw;
}

.containerTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.scrambleDiv {
  font-size: 15px;
  padding: 10px;
}

#containerTimer {
  background-color: rgb(10, 177, 94);
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  flex-direction: column;
}

#scramble {
  font-size: 25px;
  margin-bottom: 60px;
}

i {
  cursor: pointer;
}

.containerImg {
  display: flex;
  place-self: start;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  padding-bottom: 60px;
}